<!--<header class="row">
    <nav class="col-7">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
          
    </nav>
</header>-->
  
<section id="home" [ngClass]="{'active': activeUIIndex === 1}">
    <div [@openClose]="isOpen ? 'open' : 'closed'"></div>
    <div class="lol animate__animated animate__slideInRight">
        <img class="imagen" src="../assets/img/image-profile.png" >
    </div>
    <div class="info">
        <h1>HI THERE! I'M</h1>
        <h2 class="animate__heartBeat animate__repeat-3"><a (click)="scrollCustomImplementation(sec2, 2)"><strong>LUANA</strong></a></h2>
        <h4>Full Stack Web Developer</h4>
    </div> 
</section> 
 

<section #sec2 id="section2" [ngClass]="{'active': activeUIIndex === 2}">
   <div class="sect2">
    <h1>Hello!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus mollitia quidem similique nam obcaecati repellat sapiente quam necessitatibus nihil nulla, omnis eaque reprehenderit numquam aspernatur deleniti quos. Ratione, illum iure!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem pariatur fugit adipisci impedit dignissimos necessitatibus illum similique. Facere id repellat distinctio deleniti voluptatum at impedit laboriosam necessitatibus maxime excepturi. Expedita?</p>
    <h4>cfmjesdiuncwieop</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus mollitia quidem similique nam obcaecati repellat sapiente quam necessitatibus nihil nulla, omnis eaque reprehenderit numquam aspernatur deleniti quos. Ratione, illum iure!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem pariatur fugit adipisci impedit dignissimos necessitatibus illum similique. Facere id repellat distinctio deleniti voluptatum at impedit laboriosam necessitatibus maxime excepturi. Expedita?</p>
    <h4>cfmjesdiuncwieop</h4>
   </div>
</section>

<section id="section3" [ngClass]="{'active': activeUIIndex === 3}"> 

</section>

<footer></footer>