/*
PALETA DE COLORES 
amarillos:
#F2CB05
#F2DE79
#F2B705

grises:
#BFBFBF
#A6A6A6
#737373
#262626
#0D0D0D
#171717
*/

*{
    font-family: 'Poppins', sans-serif;
}
a {
    cursor:pointer
}
section{
    height: 100%;
    width: 100%;
}
#section2{
    background-image: url(./assets/img/section2-1.png);
}
#section4{
    background-color: #949494;
}


@media (min-width: 0px) {
    section{
        height: 100vh;
    }
    
    #home{
        height: 100vh;
        background-image:url(../src/assets/img/background.png) ;
        position: relative;
    }
    .lol{
        position: absolute;
        animation: slideInRight, fadeIn;
        animation-duration: 3s;
        --animate-delay: 1s;
    }
    .imagen{
        position: absolute;
        left: 2%;
        height: 100vh;
        width: auto;
    }
    .info{
        position: absolute;
        left: 10%;
        top: 35%;
        color: #ffffff;
        justify-content: center;
    
    }
    .info h1{
        font-size: 64px;
    }
    .info h2{
        font-size: 85px;
        animation: heartBeat;
        animation-duration: 5s;
        --animate-delay: 0;
    }
    .info a{
        text-decoration: none;
    }
    .info strong{
        color: #F2CB05;
    }
    .info h4{
        font-size: 22px;
    }
}

@media (min-width: 436px) {
    .info{
        left: 25%;
        top: 35%;
    }
}
@media (min-width: 703px ) {
    .info{
        left: 50%;
    }
}

@media (min-width: 726px) {
    .info{
        left: 40%;
    
    }
    .info h1{
        font-size: 64px;
    }
    .info h2{
        font-size: 100px;
        letter-spacing: 18px;
    }
    .info h4{
        font-size: 31px;
    }
    
}

@media (min-width: 980px) {
    .info{
        left: 50%;
    
    }
    .info h1{
        font-size: 79px;
    }
    .info h2{
        font-size: 120px;
        letter-spacing: 23px;
    }
    .info h4{
        font-size: 38px;
    }
}

/*TIME-LINE*/

.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    color: #ffff;
    margin: 0, auto;
    margin-top: 50px;
    position: relative;
  }

  .timeline ul{
    list-style: none;
  }

  .timeline ul li{
    padding: 20px;
    color: #ffff;
    background-color: #2fd3ffab;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .timeline ul li:last-child {
  margin-bottom: 0;
  }

  .timeline-content h2{
    font-size: 13px;
    color: #02546bab;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  .timeline-content h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
  }

  
  .timeline-content p{
    font-size: 12px;
  }
  

  @media only screen and (min-width: 768px){
    .timeline::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #02546bab;
    }
    .timeline ul li {
      width: 50%;
      margin-bottom: 50px;
      position: relative;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: #02546bfb;
      border-radius: 50%;
      top: 0;
    }
    .timeline ul li:nth-child(odd)::after {
      transform: translate(-50%, -50%);
      right: -34px;
    }
    .timeline ul li:nth-child(even)::after{
      transform: translate(-50%, -50%);
      left: -16px;
    }
    .timeline ul li:hover:after {
      background-color: #012731;
    }
  }


/*SKILLS*/

.box{
    position: relative;
    margin: 50px;
  }
  .box .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .box .text h2{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .box .text small{
    font-size: 25px;
    letter-spacing: 1px;
    display: block;
  
  }

  .circles{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circles .points{
    width: 3px;
    height: 15px;
    background: transparent;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-100px);
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
  } 

  @keyframes glow{
    0%{
      background: rgb(255, 0, 0);
      box-shadow: none;
    }
    100%{
      background: rgb(229, 255, 0);
      box-shadow: 0 0 10px rgb(229, 255, 0);
    }
  }